In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import os
from datetime import datetime
from datetime import timedelta
import matplotlib as mt

## Create Function to Import Data from Yahoo Finance

In [2]:
def get_yfinance_data(ticker_name, period):
    ticker = ticker_name
    period = period
    
    data = yf.Ticker(ticker)
    historical_close = pd.DataFrame(data.history(period = period))["Close"]
    return(historical_close)

In [3]:
yahoo_data_list = ["SPY", "DJI"]

In [4]:
for ticker in yahoo_data_list:
    data = pd.DataFrame(get_yfinance_data(ticker, "max"))

## Read CSV Files in the Folder

In [8]:
# Adding working directory
directory = os.listdir("C:/Users/peter/Desktop/python-recession-model")

In [9]:
csv_file_list = []
csv_name = []
for file in directory:
    if file.endswith(".csv"):
        data_name = file.split(".")[0]
        data = pd.read_csv(file)
        csv_name.append(data_name)
        csv_file_list.append(data)

In [10]:
csv_name1 = pd.DataFrame(csv_name).apply(lambda x: x.str.lower().str.replace('(', '').str.replace(')', '').str.replace('-', '').str.replace(',', ' ').str.replace(' ', '_').str.replace('__', '_'))

C:\Users\peter\AppData\Local\Temp\ipykernel_11404\4020979771.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  csv_name1 = pd.DataFrame(csv_name).apply(lambda x: x.str.lower().str.replace('(', '').str.replace(')', '').str.replace('-', '').str.replace(',', ' ').str.replace(' ', '_').str.replace('__', '_'))

In [11]:
csv_name1

                                                    0
0                    capacity_utilization_total_index
1   consumer_price_index_for_all_urban_consumers_a...
2                                                 cpi
3   crude_oil_prices_west_texas_intermediate_wti_c...
4                                                 dji
5   economic_policy_uncertainty_index_for_united_s...
6                                       federal_funds
7                  federal_funds_effective_rate_daily
8                                      fed_model_data
9                   industrial_production_total_index
10    inflation_consumer_prices_for_the_united_states
11                                     initial_claims
12                     labor_force_participation_rate
13                leading_index_for_the_united_states
14                                         m1_monthly
15                                         m2_monthly
16                                         m3_monthly
17                                  market_yield_on_u
18                                  market_yield_on_u
19  monetary_aggregates_and_their_components_broad...
20                                monetary_base_total
21  nber_based_recession_indicators_for_the_united...
22                                              sp500
23                                       t10y2y_daily
24                                       t10y3m_daily
25                                  unemployment_rate
26          university_of_michigan_consumer_sentiment
27       university_of_michigan_inflation_expectation
28                         velocity_of_m2_money_stock
29                                                vix

In [12]:
table_dict = {}

for i in range(30):
        table_name = csv_name1.at[i, 0]
        data = pd.DataFrame(csv_file_list[i])
        table_dict[table_name] = data

In [13]:
# Format the date column name
for keys, values in table_dict.items():
    table_dict[keys] = values.rename(str.lower, axis = "columns")

In [14]:
table_count = 0
for keys, values in table_dict.items():
    number_row = len(values)
    top_two = values.head(2)
    bottom_two = values.tail(2)
    table_count = table_count + 1
    print("Table Number: " + str(table_count))
    print("Table Name: " + keys)
    print("Number of Row: "  + str(number_row))
    print(top_two)
    print(bottom_two)
    print("____________________________________________________________________________________________")

Table Number: 1
Table Name: capacity_utilization_total_index
Number of Row: 681
         date      tcu
0  1967-01-01  89.3902
1  1967-02-01  87.9750
           date      tcu
679  2023-08-01  79.5385
680  2023-09-01  79.6786
____________________________________________________________________________________________
Table Number: 2
Table Name: consumer_price_index_for_all_urban_consumers_all_items_in_u
Number of Row: 921
         date  cpiaucsl
0  1947-01-01     21.48
1  1947-02-01     21.62
           date  cpiaucsl
919  2023-08-01   306.269
920  2023-09-01   307.481
____________________________________________________________________________________________
Table Number: 3
Table Name: cpi
Number of Row: 914
         date  cpiaucsl
0  1947-01-01     21.48
1  1947-02-01     21.62
           date  cpiaucsl
912  2023-01-01   300.536
913  2023-02-01   301.648
____________________________________________________________________________________________
Table Number: 4
Table Name: crude_oil_prices_west_texas_intermediate_wti_cushing_oklahoma
Number of Row: 9863
         date dcoilwtico
0  1986-01-02      25.56
1  1986-01-03      26.00
            date dcoilwtico
9861  2023-10-20      89.12
9862  2023-10-23      85.49
____________________________________________________________________________________________
Table Number: 5
Table Name: dji
Number of Row: 649
         date  m1109busm293nnbr
0  1914-12-01             55.00
1  1915-01-01             56.55
           date  m1109busm293nnbr
647  1968-11-01            964.12
648  1968-12-01            965.39
____________________________________________________________________________________________
Table Number: 6
Table Name: economic_policy_uncertainty_index_for_united_states
Number of Row: 1827
         date  usepuindxd
0  2018-10-25       89.53
1  2018-10-26       65.53
            date  usepuindxd
1825  2023-10-24       84.27
1826  2023-10-25       82.10
____________________________________________________________________________________________
Table Number: 7
Table Name: federal_funds
Number of Row: 828
       date  fedfunds
0  7/1/1954      0.80
1  8/1/1954      1.22
         date  fedfunds
826  5/1/2023      5.06
827  6/1/2023      5.08
____________________________________________________________________________________________
Table Number: 8
Table Name: federal_funds_effective_rate_daily
Number of Row: 25311
         date   dff
0  1954-07-01  1.13
1  1954-07-02  1.25
             date   dff
25309  2023-10-16  5.33
25310  2023-10-17  5.33
____________________________________________________________________________________________
Table Number: 9
Table Name: fed_model_data
Number of Row: 789
        date  10 year treasury yield  3 month treasury yield  \
0  31-Jan-59                    4.02                    2.82
1  28-Feb-59                    3.96                    2.70

   3 month treasury yield (bond equivalent basis)  spread rec_prob  nber_rec
0                                            2.88    1.14      NaN       0.0
1                                            2.76    1.20      NaN       0.0
          date  10 year treasury yield  3 month treasury yield  \
787  8/31/2024                     NaN                     NaN
788  9/30/2024                     NaN                     NaN

     3 month treasury yield (bond equivalent basis)  spread rec_prob  nber_rec
787                                             NaN     NaN   60.83%       NaN
788                                             NaN     NaN   56.16%       NaN
____________________________________________________________________________________________
Table Number: 10
Table Name: industrial_production_total_index
Number of Row: 1257
         date  indpro
0  1919-01-01  4.8665
1  1919-02-01  4.6514
            date    indpro
1255  2023-08-01  103.3170
1256  2023-09-01  103.6115
____________________________________________________________________________________________
Table Number: 11
Table Name: inflation_consumer_prices_for_the_united_states
Number of Row: 63
         date  fpcpitotlzgusa
0  1960-01-01        1.457976
1  1961-01-01        1.070724
          date  fpcpitotlzgusa
61  2021-01-01        4.697859
62  2022-01-01        8.002800
____________________________________________________________________________________________
Table Number: 12
Table Name: initial_claims
Number of Row: 2964
         date    icsa
0  1967-01-07  208000
1  1967-01-14  207000
            date    icsa
2962  2023-10-14  200000
2963  2023-10-21  210000
____________________________________________________________________________________________
Table Number: 13
Table Name: labor_force_participation_rate
Number of Row: 906
       date  civpart
0  1/1/1948     58.6
1  2/1/1948     58.9
         date  civpart
904  5/1/2023     62.6
905  6/1/2023     62.6
____________________________________________________________________________________________
Table Number: 14
Table Name: leading_index_for_the_united_states
Number of Row: 458
         date  usslind
0  1982-01-01    -0.89
1  1982-02-01    -0.38
           date  usslind
456  2020-01-01     1.57
457  2020-02-01     1.72
____________________________________________________________________________________________
Table Number: 15
Table Name: m1_monthly
Number of Row: 772
         date   m1sl
0  1959-01-01  138.9
1  1959-02-01  139.4
           date     m1sl
770  2023-03-01  18964.5
771  2023-04-01  18629.2
____________________________________________________________________________________________
Table Number: 16
Table Name: m2_monthly
Number of Row: 772
         date   m2sl
0  1959-01-01  286.6
1  1959-02-01  287.7
           date     m2sl
770  2023-03-01  20840.3
771  2023-04-01  20673.1
____________________________________________________________________________________________
Table Number: 17
Table Name: m3_monthly
Number of Row: 759
         date  mabmm301usm189s
0  1960-01-01     2.982000e+11
1  1960-02-01     2.984000e+11
           date  mabmm301usm189s
757  2023-02-01     2.107540e+13
758  2023-03-01     2.081810e+13
____________________________________________________________________________________________
Table Number: 18
Table Name: market_yield_on_u
Number of Row: 16121
         date dgs10
0  1962-01-02  4.06
1  1962-01-03  4.03
             date dgs10
16119  2023-10-16  4.71
16120  2023-10-17  4.83
____________________________________________________________________________________________
Table Number: 19
Table Name: monetary_aggregates_and_their_components_broad_money_and_components_m3_for_united_states
Number of Row: 764
         date  mabmm301usm189s
0  1960-01-01     2.982000e+11
1  1960-02-01     2.984000e+11
           date  mabmm301usm189s
762  2023-07-01     2.090530e+13
763  2023-08-01     2.086530e+13
____________________________________________________________________________________________
Table Number: 20
Table Name: monetary_base_total
Number of Row: 777
         date  bogmbase
0  1959-01-01   50500.0
1  1959-02-01   49800.0
           date   bogmbase
775  2023-08-01  5559100.0
776  2023-09-01  5567100.0
____________________________________________________________________________________________
Table Number: 21
Table Name: nber_based_recession_indicators_for_the_united_states_from_the_period_following_the_peak_through_the_trough
Number of Row: 2026
         date  usrec
0  1854-12-01      1
1  1855-01-01      0
            date  usrec
2024  2023-08-01      0
2025  2023-09-01      0
____________________________________________________________________________________________
Table Number: 22
Table Name: sp500
Number of Row: 1859
         date    value
0  2023-04-01  4124.51
1  2023-03-31  4109.31
            date  value
1857  1871-02-01   4.50
1858  1871-01-01   4.44
____________________________________________________________________________________________
Table Number: 23
Table Name: t10y2y_daily
Number of Row: 12362
         date t10y2y
0  1976-06-01   0.68
1  1976-06-02   0.71
             date t10y2y
12360  2023-10-17  -0.36
12361  2023-10-18  -0.28
____________________________________________________________________________________________
Table Number: 24
Table Name: t10y3m_daily
Number of Row: 10903
         date t10y3m
0  1982-01-04   2.32
1  1982-01-05   2.24
             date t10y3m
10901  2023-10-17  -0.79
10902  2023-10-18   -0.7
____________________________________________________________________________________________
Table Number: 25
Table Name: unemployment_rate
Number of Row: 909
         date  unrate
0  1948-01-01     3.4
1  1948-02-01     3.8
           date  unrate
907  2023-08-01     3.8
908  2023-09-01     3.8
____________________________________________________________________________________________
Table Number: 26
Table Name: university_of_michigan_consumer_sentiment
Number of Row: 850
         date umcsent
0  1952-11-01    86.2
1  1952-12-01       .
           date umcsent
848  2023-07-01    71.6
849  2023-08-01    69.5
____________________________________________________________________________________________
Table Number: 27
Table Name: university_of_michigan_inflation_expectation
Number of Row: 548
         date  mich
0  1978-01-01   5.2
1  1978-02-01   6.4
           date  mich
546  2023-07-01   3.4
547  2023-08-01   3.5
____________________________________________________________________________________________
Table Number: 28
Table Name: velocity_of_m2_money_stock
Number of Row: 259
         date    m2v
0  1959-01-01  1.773
1  1959-04-01  1.789
           date    m2v
257  2023-04-01  1.302
258  2023-07-01  1.327
____________________________________________________________________________________________
Table Number: 29
Table Name: vix
Number of Row: 8753
       date vixcls
0  1/2/1990  17.24
1  1/3/1990  18.19
           date vixcls
8751  7/19/2023  13.76
8752  7/20/2023  13.99
____________________________________________________________________________________________

# Format Date Object

In [15]:
def guess_date(string):
    for date_format in ["%Y-%m-%d", "%m/%d/%Y", "%d-%b-%y"]:
        try:
            return datetime.strptime(string, date_format).date()
        except ValueError:
            continue
    raise ValueError(string)

In [16]:
for keys, values in table_dict.items():
    date_string = values["date"]
    date_format = ["%Y-%m-%d", "%m/%d/%Y", "%d-%b-%Y"]
    values["date"] = date_string.apply(lambda x: guess_date(x)).apply(lambda x: x.replace(year = x.year - 100) if x.year > 2030 else x )

In [17]:
# Edge Case Fed Model Date Handling
delta = timedelta(days = 1)
table_dict["fed_model_data"]["date"] = table_dict["fed_model_data"]["date"].apply(lambda x: x + delta)

## Basic Information of each dataset

In [18]:
# Function to provide basic information about a list of dataset
def data_basic_infor(table_dict):
    table_count = 0
    for keys, values in table_dict.items():
        number_row = len(values)
        start_date = min(values["date"])
        end_date = max(values["date"])
        table_count = table_count + 1
        column_name = values.columns
        frequency = values["date"][1] - values["date"][0]
        print("Table Number: " + str(table_count))
        print("Table Name: " + keys)
        print("Column Names: " + str(column_name[0]) + ", " + str(column_name[1]))
        print("Number of Row: "  + str(number_row))
        print("Frequency: " + str(frequency))
        print("Start Date: " + str(start_date))
        print("End Date: " + str(end_date))
        print("____________________________________________________________________________________________")

In [19]:
# Overview of basic information about each dataset
data_basic_infor(table_dict)

Table Number: 1
Table Name: capacity_utilization_total_index
Column Names: date, tcu
Number of Row: 681
Frequency: 31 days, 0:00:00
Start Date: 1967-01-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 2
Table Name: consumer_price_index_for_all_urban_consumers_all_items_in_u
Column Names: date, cpiaucsl
Number of Row: 921
Frequency: 31 days, 0:00:00
Start Date: 1947-01-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 3
Table Name: cpi
Column Names: date, cpiaucsl
Number of Row: 914
Frequency: 31 days, 0:00:00
Start Date: 1947-01-01
End Date: 2023-02-01
____________________________________________________________________________________________
Table Number: 4
Table Name: crude_oil_prices_west_texas_intermediate_wti_cushing_oklahoma
Column Names: date, dcoilwtico
Number of Row: 9863
Frequency: 1 day, 0:00:00
Start Date: 1986-01-02
End Date: 2023-10-23
____________________________________________________________________________________________
Table Number: 5
Table Name: dji
Column Names: date, m1109busm293nnbr
Number of Row: 649
Frequency: 31 days, 0:00:00
Start Date: 1914-12-01
End Date: 1968-12-01
____________________________________________________________________________________________
Table Number: 6
Table Name: economic_policy_uncertainty_index_for_united_states
Column Names: date, usepuindxd
Number of Row: 1827
Frequency: 1 day, 0:00:00
Start Date: 2018-10-25
End Date: 2023-10-25
____________________________________________________________________________________________
Table Number: 7
Table Name: federal_funds
Column Names: date, fedfunds
Number of Row: 828
Frequency: 31 days, 0:00:00
Start Date: 1954-07-01
End Date: 2023-06-01
____________________________________________________________________________________________
Table Number: 8
Table Name: federal_funds_effective_rate_daily
Column Names: date, dff
Number of Row: 25311
Frequency: 1 day, 0:00:00
Start Date: 1954-07-01
End Date: 2023-10-17
____________________________________________________________________________________________
Table Number: 9
Table Name: fed_model_data
Column Names: date, 10 year treasury yield
Number of Row: 789
Frequency: 28 days, 0:00:00
Start Date: 1959-02-01
End Date: 2024-10-01
____________________________________________________________________________________________
Table Number: 10
Table Name: industrial_production_total_index
Column Names: date, indpro
Number of Row: 1257
Frequency: 31 days, 0:00:00
Start Date: 1919-01-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 11
Table Name: inflation_consumer_prices_for_the_united_states
Column Names: date, fpcpitotlzgusa
Number of Row: 63
Frequency: 366 days, 0:00:00
Start Date: 1960-01-01
End Date: 2022-01-01
____________________________________________________________________________________________
Table Number: 12
Table Name: initial_claims
Column Names: date, icsa
Number of Row: 2964
Frequency: 7 days, 0:00:00
Start Date: 1967-01-07
End Date: 2023-10-21
____________________________________________________________________________________________
Table Number: 13
Table Name: labor_force_participation_rate
Column Names: date, civpart
Number of Row: 906
Frequency: 31 days, 0:00:00
Start Date: 1948-01-01
End Date: 2023-06-01
____________________________________________________________________________________________
Table Number: 14
Table Name: leading_index_for_the_united_states
Column Names: date, usslind
Number of Row: 458
Frequency: 31 days, 0:00:00
Start Date: 1982-01-01
End Date: 2020-02-01
____________________________________________________________________________________________
Table Number: 15
Table Name: m1_monthly
Column Names: date, m1sl
Number of Row: 772
Frequency: 31 days, 0:00:00
Start Date: 1959-01-01
End Date: 2023-04-01
____________________________________________________________________________________________
Table Number: 16
Table Name: m2_monthly
Column Names: date, m2sl
Number of Row: 772
Frequency: 31 days, 0:00:00
Start Date: 1959-01-01
End Date: 2023-04-01
____________________________________________________________________________________________
Table Number: 17
Table Name: m3_monthly
Column Names: date, mabmm301usm189s
Number of Row: 759
Frequency: 31 days, 0:00:00
Start Date: 1960-01-01
End Date: 2023-03-01
____________________________________________________________________________________________
Table Number: 18
Table Name: market_yield_on_u
Column Names: date, dgs10
Number of Row: 16121
Frequency: 1 day, 0:00:00
Start Date: 1962-01-02
End Date: 2023-10-17
____________________________________________________________________________________________
Table Number: 19
Table Name: monetary_aggregates_and_their_components_broad_money_and_components_m3_for_united_states
Column Names: date, mabmm301usm189s
Number of Row: 764
Frequency: 31 days, 0:00:00
Start Date: 1960-01-01
End Date: 2023-08-01
____________________________________________________________________________________________
Table Number: 20
Table Name: monetary_base_total
Column Names: date, bogmbase
Number of Row: 777
Frequency: 31 days, 0:00:00
Start Date: 1959-01-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 21
Table Name: nber_based_recession_indicators_for_the_united_states_from_the_period_following_the_peak_through_the_trough
Column Names: date, usrec
Number of Row: 2026
Frequency: 31 days, 0:00:00
Start Date: 1854-12-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 22
Table Name: sp500
Column Names: date, value
Number of Row: 1859
Frequency: -1 day, 0:00:00
Start Date: 1871-01-01
End Date: 2023-04-01
____________________________________________________________________________________________
Table Number: 23
Table Name: t10y2y_daily
Column Names: date, t10y2y
Number of Row: 12362
Frequency: 1 day, 0:00:00
Start Date: 1976-06-01
End Date: 2023-10-18
____________________________________________________________________________________________
Table Number: 24
Table Name: t10y3m_daily
Column Names: date, t10y3m
Number of Row: 10903
Frequency: 1 day, 0:00:00
Start Date: 1982-01-04
End Date: 2023-10-18
____________________________________________________________________________________________
Table Number: 25
Table Name: unemployment_rate
Column Names: date, unrate
Number of Row: 909
Frequency: 31 days, 0:00:00
Start Date: 1948-01-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 26
Table Name: university_of_michigan_consumer_sentiment
Column Names: date, umcsent
Number of Row: 850
Frequency: 30 days, 0:00:00
Start Date: 1952-11-01
End Date: 2023-08-01
____________________________________________________________________________________________
Table Number: 27
Table Name: university_of_michigan_inflation_expectation
Column Names: date, mich
Number of Row: 548
Frequency: 31 days, 0:00:00
Start Date: 1978-01-01
End Date: 2023-08-01
____________________________________________________________________________________________
Table Number: 28
Table Name: velocity_of_m2_money_stock
Column Names: date, m2v
Number of Row: 259
Frequency: 90 days, 0:00:00
Start Date: 1959-01-01
End Date: 2023-07-01
____________________________________________________________________________________________
Table Number: 29
Table Name: vix
Column Names: date, vixcls
Number of Row: 8753
Frequency: 1 day, 0:00:00
Start Date: 1990-01-02
End Date: 2023-07-20
____________________________________________________________________________________________

## Filter the Data and Create Updated List of Dataset

In [20]:
# Filter the list to delete based on the following requirements:
# 1. Has start date before 1975
# 2. Has end date after 2023
# 3. The update frequency is less than a month

list_to_delete = []
delta = timedelta(days = 32)
for keys, values in table_dict.items():
    frequency = values["date"][1] - values["date"][0]
    if min(values["date"]).year > 1975:
        list_to_delete.append(keys)
    elif frequency > delta:
        list_to_delete.append(keys)
    elif max(values["date"]).year < 2023:
        list_to_delete.append(keys)
        
        
print("The delete list has " + str(len(list_to_delete)) + " and has following items: ")
print("")
for table_name in list_to_delete:
    print(table_name)

The delete list has 10 and has following items:

crude_oil_prices_west_texas_intermediate_wti_cushing_oklahoma
dji
economic_policy_uncertainty_index_for_united_states
inflation_consumer_prices_for_the_united_states
leading_index_for_the_united_states
t10y2y_daily
t10y3m_daily
university_of_michigan_inflation_expectation
velocity_of_m2_money_stock
vix

In [21]:
updated_table_dict = table_dict

for i in list_to_delete:
    del updated_table_dict[i]

In [22]:
data_basic_infor(updated_table_dict)

Table Number: 1
Table Name: capacity_utilization_total_index
Column Names: date, tcu
Number of Row: 681
Frequency: 31 days, 0:00:00
Start Date: 1967-01-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 2
Table Name: consumer_price_index_for_all_urban_consumers_all_items_in_u
Column Names: date, cpiaucsl
Number of Row: 921
Frequency: 31 days, 0:00:00
Start Date: 1947-01-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 3
Table Name: cpi
Column Names: date, cpiaucsl
Number of Row: 914
Frequency: 31 days, 0:00:00
Start Date: 1947-01-01
End Date: 2023-02-01
____________________________________________________________________________________________
Table Number: 4
Table Name: federal_funds
Column Names: date, fedfunds
Number of Row: 828
Frequency: 31 days, 0:00:00
Start Date: 1954-07-01
End Date: 2023-06-01
____________________________________________________________________________________________
Table Number: 5
Table Name: federal_funds_effective_rate_daily
Column Names: date, dff
Number of Row: 25311
Frequency: 1 day, 0:00:00
Start Date: 1954-07-01
End Date: 2023-10-17
____________________________________________________________________________________________
Table Number: 6
Table Name: fed_model_data
Column Names: date, 10 year treasury yield
Number of Row: 789
Frequency: 28 days, 0:00:00
Start Date: 1959-02-01
End Date: 2024-10-01
____________________________________________________________________________________________
Table Number: 7
Table Name: industrial_production_total_index
Column Names: date, indpro
Number of Row: 1257
Frequency: 31 days, 0:00:00
Start Date: 1919-01-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 8
Table Name: initial_claims
Column Names: date, icsa
Number of Row: 2964
Frequency: 7 days, 0:00:00
Start Date: 1967-01-07
End Date: 2023-10-21
____________________________________________________________________________________________
Table Number: 9
Table Name: labor_force_participation_rate
Column Names: date, civpart
Number of Row: 906
Frequency: 31 days, 0:00:00
Start Date: 1948-01-01
End Date: 2023-06-01
____________________________________________________________________________________________
Table Number: 10
Table Name: m1_monthly
Column Names: date, m1sl
Number of Row: 772
Frequency: 31 days, 0:00:00
Start Date: 1959-01-01
End Date: 2023-04-01
____________________________________________________________________________________________
Table Number: 11
Table Name: m2_monthly
Column Names: date, m2sl
Number of Row: 772
Frequency: 31 days, 0:00:00
Start Date: 1959-01-01
End Date: 2023-04-01
____________________________________________________________________________________________
Table Number: 12
Table Name: m3_monthly
Column Names: date, mabmm301usm189s
Number of Row: 759
Frequency: 31 days, 0:00:00
Start Date: 1960-01-01
End Date: 2023-03-01
____________________________________________________________________________________________
Table Number: 13
Table Name: market_yield_on_u
Column Names: date, dgs10
Number of Row: 16121
Frequency: 1 day, 0:00:00
Start Date: 1962-01-02
End Date: 2023-10-17
____________________________________________________________________________________________
Table Number: 14
Table Name: monetary_aggregates_and_their_components_broad_money_and_components_m3_for_united_states
Column Names: date, mabmm301usm189s
Number of Row: 764
Frequency: 31 days, 0:00:00
Start Date: 1960-01-01
End Date: 2023-08-01
____________________________________________________________________________________________
Table Number: 15
Table Name: monetary_base_total
Column Names: date, bogmbase
Number of Row: 777
Frequency: 31 days, 0:00:00
Start Date: 1959-01-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 16
Table Name: nber_based_recession_indicators_for_the_united_states_from_the_period_following_the_peak_through_the_trough
Column Names: date, usrec
Number of Row: 2026
Frequency: 31 days, 0:00:00
Start Date: 1854-12-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 17
Table Name: sp500
Column Names: date, value
Number of Row: 1859
Frequency: -1 day, 0:00:00
Start Date: 1871-01-01
End Date: 2023-04-01
____________________________________________________________________________________________
Table Number: 18
Table Name: unemployment_rate
Column Names: date, unrate
Number of Row: 909
Frequency: 31 days, 0:00:00
Start Date: 1948-01-01
End Date: 2023-09-01
____________________________________________________________________________________________
Table Number: 19
Table Name: university_of_michigan_consumer_sentiment
Column Names: date, umcsent
Number of Row: 850
Frequency: 30 days, 0:00:00
Start Date: 1952-11-01
End Date: 2023-08-01
____________________________________________________________________________________________

# Merge for final table

In [23]:
final_data = updated_table_dict["capacity_utilization_total_index"]

for keys, values in updated_table_dict.items():
    print(keys)
    final_data = final_data.merge(values, how = "left", on = "date")

capacity_utilization_total_index
consumer_price_index_for_all_urban_consumers_all_items_in_u
cpi
federal_funds
federal_funds_effective_rate_daily
fed_model_data
industrial_production_total_index
initial_claims
labor_force_participation_rate
m1_monthly
m2_monthly
m3_monthly
market_yield_on_u
monetary_aggregates_and_their_components_broad_money_and_components_m3_for_united_states
monetary_base_total
nber_based_recession_indicators_for_the_united_states_from_the_period_following_the_peak_through_the_trough
sp500
unemployment_rate
university_of_michigan_consumer_sentiment

In [24]:
updated_final_data = final_data.drop(labels = ["icsa", "dgs10"], axis = 1)

In [25]:
updated_final_data["spread"] != None

0      True
1      True
2      True
3      True
4      True
       ...
676    True
677    True
678    True
679    True
680    True
Name: spread, Length: 681, dtype: bool

In [26]:
updated_final_data = updated_final_data[-(updated_final_data["spread"].isna())].dropna().reset_index()

In [27]:
updated_final_data.isna().sum()

index                                             0
date                                              0
tcu_x                                             0
tcu_y                                             0
cpiaucsl_x                                        0
cpiaucsl_y                                        0
fedfunds                                          0
dff                                               0
10 year treasury yield                            0
3 month treasury yield                            0
3 month treasury yield (bond equivalent basis)    0
spread                                            0
rec_prob                                          0
nber_rec                                          0
indpro                                            0
civpart                                           0
m1sl                                              0
m2sl                                              0
mabmm301usm189s_x                                 0
mabmm301usm189s_y                                 0
bogmbase                                          0
usrec                                             0
value                                             0
unrate                                            0
umcsent                                           0
dtype: int64

In [28]:
updated_final_data

,index,date,tcu_x,tcu_y,cpiaucsl_x,cpiaucsl_y,fedfunds,dff,10 year treasury yield,3 month treasury yield,...,civpart,m1sl,m2sl,mabmm301usm189s_x,mabmm301usm189s_y,bogmbase,usrec,value,unrate,umcsent
0,0,1967-01-01,89.3902,89.3902,32.900,32.900,4.94,5.00,4.84,4.96,...,59.5,171.9,481.6,4.816000e+11,4.816000e+11,63800.0,0,84.45,3.9,.
1,1,1967-02-01,87.9750,87.9750,33.000,33.000,5.00,4.00,4.58,4.72,...,59.3,173.0,485.1,4.851000e+11,4.851000e+11,63300.0,0,87.36,3.8,94.1
2,2,1967-03-01,87.0835,87.0835,33.000,33.000,4.53,3.75,4.63,4.56,...,59.1,174.8,489.7,4.897000e+11,4.897000e+11,63200.0,0,89.42,3.8,.
3,3,1967-04-01,87.5089,87.5089,33.100,33.100,4.05,4.50,4.54,4.26,...,59.4,174.2,492.1,4.921000e+11,4.921000e+11,63300.0,0,90.96,3.8,.
4,4,1967-05-01,86.3566,86.3566,33.100,33.100,3.94,4.00,4.59,3.84,...,59.3,175.7,497.2,4.972000e+11,4.972000e+11,63400.0,0,92.59,3.8,95.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,669,2022-10-01,80.6377,80.6377,297.987,297.987,3.08,3.08,3.52,3.13,...,62.2,20098.1,21432.1,2.143130e+13,2.143270e+13,5340200.0,0,3726.05,3.7,59.9
656,670,2022-11-01,80.2626,80.2626,298.598,298.598,3.78,3.08,3.98,3.72,...,62.2,19964.4,21398.7,2.139690e+13,2.139870e+13,5419400.0,0,3917.49,3.6,56.8
657,671,2022-12-01,78.9195,78.9195,298.990,298.990,4.10,3.83,3.89,4.15,...,62.3,19821.0,21358.1,2.135770e+13,2.135760e+13,5406000.0,0,3912.38,3.5,59.7
658,672,2023-01-01,79.6374,79.6374,300.536,300.536,4.33,4.33,3.62,4.25,...,62.4,19560.1,21212.6,2.121200e+13,2.122170e+13,5329000.0,0,3960.66,3.4,64.9
659,673,2023-02-01,79.5454,79.5454,301.648,301.648,4.57,4.33,3.53,4.54,...,62.5,19327.8,21076.9,2.107540e+13,2.110040e+13,5321600.0,0,4079.68,3.6,67

In [29]:
updated_final_data["12m_rec"] = 0

for i in updated_final_data.index:
    
    if i > 648:
        break
    
    rec_count = 0
    for j in range(12):
        rec_count = rec_count + updated_final_data.loc[i + j, "usrec"]
    
    if rec_count != 0:
        rec_count = 1
    
    print(rec_count)
    updated_final_data.loc[i , "12m_rec"] = rec_count

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
1
1
1
1
1
1
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [30]:
list_to_drop = ["usrec", "10 year treasury yield", "3 month treasury yield", "3 month treasury yield (bond equivalent basis)"]

updated_final_data.drop(labels = list_to_drop, axis = 1)

,index,date,tcu_x,tcu_y,cpiaucsl_x,cpiaucsl_y,fedfunds,dff,spread,rec_prob,...,civpart,m1sl,m2sl,mabmm301usm189s_x,mabmm301usm189s_y,bogmbase,value,unrate,umcsent,12m_rec
0,0,1967-01-01,89.3902,89.3902,32.900,32.900,4.94,5.00,-0.25,26.92%,...,59.5,171.9,481.6,4.816000e+11,4.816000e+11,63800.0,84.45,3.9,.,0
1,1,1967-02-01,87.9750,87.9750,33.000,33.000,5.00,4.00,-0.26,31.88%,...,59.3,173.0,485.1,4.851000e+11,4.851000e+11,63300.0,87.36,3.8,94.1,0
2,2,1967-03-01,87.0835,87.0835,33.000,33.000,4.53,3.75,-0.05,28.40%,...,59.1,174.8,489.7,4.897000e+11,4.897000e+11,63200.0,89.42,3.8,.,0
3,3,1967-04-01,87.5089,87.5089,33.100,33.100,4.05,4.50,0.17,26.25%,...,59.4,174.2,492.1,4.921000e+11,4.921000e+11,63300.0,90.96,3.8,.,0
4,4,1967-05-01,86.3566,86.3566,33.100,33.100,3.94,4.00,0.66,29.46%,...,59.3,175.7,497.2,4.972000e+11,4.972000e+11,63400.0,92.59,3.8,95.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,669,2022-10-01,80.6377,80.6377,297.987,297.987,3.08,3.08,0.32,8.46%,...,62.2,20098.1,21432.1,2.143130e+13,2.143270e+13,5340200.0,3726.05,3.7,59.9,0
656,670,2022-11-01,80.2626,80.2626,298.598,298.598,3.78,3.08,0.17,6.66%,...,62.2,19964.4,21398.7,2.139690e+13,2.139870e+13,5419400.0,3917.49,3.6,56.8,0
657,671,2022-12-01,78.9195,78.9195,298.990,298.990,4.10,3.83,-0.36,6.83%,...,62.3,19821.0,21358.1,2.135770e+13,2.135760e+13,5406000.0,3912.38,3.5,59.7,0
658,672,2023-01-01,79.6374,79.6374,300.536,300.536,4.33,4.33,-0.74,7.70%,...,62.4,19560.1,21212.6,2.121200e+13,2.122170e+13,5329000.0,3960.66,3.4,64.9,0
659,673,2023-02-01,79.5454,79.5454,301.648,301.648,4.57,4.33,-1.13,6.04%,...,62.5,19327.8,21076.9,2.107540e+13,2.110040e+13,5321600.0,4079.68,3.6,67,0

In [82]:
def get_monthly_change_rate(columns):
    monthly_change = []
    
    target_index = (columns.index + 1)
    target_index = target_index.drop([len(target_index)])
    
    for row in target_index:
        change = (columns[row]/columns[row - 1]) - 1
        monthly_change.append(change)
        
    return(monthly_change)

In [84]:
spread_change = get_monthly_change_rate(updated_final_data["spread"])

C:\Users\peter\AppData\Local\Temp\ipykernel_11404\1370463984.py:8: RuntimeWarning: divide by zero encountered in scalar divide
  change = (columns[row]/columns[row - 1]) - 1

In [ ]:
def change_momentum(columns):