In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import os
from datetime import datetime
from datetime import timedelta
import matplotlib as mt

## Create Function to Import Data from Yahoo Finance

In [2]:
def get_yfinance_data(ticker_name, period):
    ticker = ticker_name
    period = period
    
    data = yf.Ticker(ticker)
    historical_close = pd.DataFrame(data.history(period = period))["Close"]
    return(historical_close)

In [3]:
yahoo_data_list = ["SPY", "DJI"]

In [4]:
for ticker in yahoo_data_list:
    data = pd.DataFrame(get_yfinance_data(ticker, "max"))

## Read CSV Files in the Folder

In [5]:
# Adding working directory
directory = os.listdir("C:/Users/peter/Desktop/python-recession-model")

In [6]:
csv_file_list = []
csv_name = []
for file in directory:
    if file.endswith(".csv"):
        data_name = file.split(".")[0]
        data = pd.read_csv(file)
        csv_name.append(data_name)
        csv_file_list.append(data)

In [7]:
csv_name1 = pd.DataFrame(csv_name).apply(lambda x: x.str.lower().str.replace('(', '').str.replace(')', '').str.replace('-', '').str.replace(',', ' ').str.replace(' ', '_').str.replace('__', '_'))

C:\Users\peter\AppData\Local\Temp\ipykernel_2812\4020979771.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  csv_name1 = pd.DataFrame(csv_name).apply(lambda x: x.str.lower().str.replace('(', '').str.replace(')', '').str.replace('-', '').str.replace(',', ' ').str.replace(' ', '_').str.replace('__', '_'))

In [8]:
table_dict = {}

for i in range(30):
        table_name = csv_name1.at[i, 0]
        data = pd.DataFrame(csv_file_list[i])
        table_dict[table_name] = data

In [9]:
# Format the date column name
for keys, values in table_dict.items():
    table_dict[keys] = values.rename(str.lower, axis = "columns")

In [10]:
table_count = 0
for keys, values in table_dict.items():
    number_row = len(values)
    top_two = values.head(2)
    bottom_two = values.tail(2)
    table_count = table_count + 1
    print("Table Number: " + str(table_count))
    print("Table Name: " + keys)
    print("Number of Row: "  + str(number_row))
    print(top_two)
    print(bottom_two)
    print("____________________________________________________________________________________________")

Table Number: 1
Table Name: capacity_utilization_total_index
Number of Row: 681
         date      tcu
0  1967-01-01  89.3902
1  1967-02-01  87.9750
           date      tcu
679  2023-08-01  79.5385
680  2023-09-01  79.6786
____________________________________________________________________________________________
Table Number: 2
Table Name: consumer_price_index_for_all_urban_consumers_all_items_in_u
Number of Row: 921
         date  cpiaucsl
0  1947-01-01     21.48
1  1947-02-01     21.62
           date  cpiaucsl
919  2023-08-01   306.269
920  2023-09-01   307.481
____________________________________________________________________________________________
Table Number: 3
Table Name: cpi
Number of Row: 914
         date  cpiaucsl
0  1947-01-01     21.48
1  1947-02-01     21.62
           date  cpiaucsl
912  2023-01-01   300.536
913  2023-02-01   301.648
____________________________________________________________________________________________
Table Number: 4
Table Name: crude_oil_prices_west_texas_intermediate_wti_cushing_oklahoma
Number of Row: 9863
         date dcoilwtico
0  1986-01-02      25.56
1  1986-01-03      26.00
            date dcoilwtico
9861  2023-10-20      89.12
9862  2023-10-23      85.49
____________________________________________________________________________________________
Table Number: 5
Table Name: dji
Number of Row: 649
         date  m1109busm293nnbr
0  1914-12-01             55.00
1  1915-01-01             56.55
           date  m1109busm293nnbr
647  1968-11-01            964.12
648  1968-12-01            965.39
____________________________________________________________________________________________
Table Number: 6
Table Name: economic_policy_uncertainty_index_for_united_states
Number of Row: 1827
         date  usepuindxd
0  2018-10-25       89.53
1  2018-10-26       65.53
            date  usepuindxd
1825  2023-10-24       84.27
1826  2023-10-25       82.10
____________________________________________________________________________________________
Table Number: 7
Table Name: federal_funds
Number of Row: 828
       date  fedfunds
0  7/1/1954      0.80
1  8/1/1954      1.22
         date  fedfunds
826  5/1/2023      5.06
827  6/1/2023      5.08
____________________________________________________________________________________________
Table Number: 8
Table Name: federal_funds_effective_rate_daily
Number of Row: 25311
         date   dff
0  1954-07-01  1.13
1  1954-07-02  1.25
             date   dff
25309  2023-10-16  5.33
25310  2023-10-17  5.33
____________________________________________________________________________________________
Table Number: 9
Table Name: fed_model_data
Number of Row: 789
        date  10 year treasury yield  3 month treasury yield  \
0  31-Jan-59                    4.02                    2.82
1  28-Feb-59                    3.96                    2.70

   3 month treasury yield (bond equivalent basis)  spread rec_prob  nber_rec
0                                            2.88    1.14      NaN       0.0
1                                            2.76    1.20      NaN       0.0
          date  10 year treasury yield  3 month treasury yield  \
787  8/31/2024                     NaN                     NaN
788  9/30/2024                     NaN                     NaN

     3 month treasury yield (bond equivalent basis)  spread rec_prob  nber_rec
787                                             NaN     NaN   60.83%       NaN
788                                             NaN     NaN   56.16%       NaN
____________________________________________________________________________________________
Table Number: 10
Table Name: industrial_production_total_index
Number of Row: 1257
         date  indpro
0  1919-01-01  4.8665
1  1919-02-01  4.6514
            date    indpro
1255  2023-08-01  103.3170
1256  2023-09-01  103.6115
____________________________________________________________________________________________
Table Number: 11
Table Name: inflation_consumer_prices_for_the_united_states
Number of Row: 63
         date  fpcpitotlzgusa
0  1960-01-01        1.457976
1  1961-01-01        1.070724
          date  fpcpitotlzgusa
61  2021-01-01        4.697859
62  2022-01-01        8.002800
____________________________________________________________________________________________
Table Number: 12
Table Name: initial_claims
Number of Row: 2964
         date    icsa
0  1967-01-07  208000
1  1967-01-14  207000
            date    icsa
2962  2023-10-14  200000
2963  2023-10-21  210000
____________________________________________________________________________________________
Table Number: 13
Table Name: labor_force_participation_rate
Number of Row: 906
       date  civpart
0  1/1/1948     58.6
1  2/1/1948     58.9
         date  civpart
904  5/1/2023     62.6
905  6/1/2023     62.6
____________________________________________________________________________________________
Table Number: 14
Table Name: leading_index_for_the_united_states
Number of Row: 458
         date  usslind
0  1982-01-01    -0.89
1  1982-02-01    -0.38
           date  usslind
456  2020-01-01     1.57
457  2020-02-01     1.72
____________________________________________________________________________________________
Table Number: 15
Table Name: m1_monthly
Number of Row: 772
         date   m1sl
0  1959-01-01  138.9
1  1959-02-01  139.4
           date     m1sl
770  2023-03-01  18964.5
771  2023-04-01  18629.2
____________________________________________________________________________________________
Table Number: 16
Table Name: m2_monthly
Number of Row: 772
         date   m2sl
0  1959-01-01  286.6
1  1959-02-01  287.7
           date     m2sl
770  2023-03-01  20840.3
771  2023-04-01  20673.1
____________________________________________________________________________________________
Table Number: 17
Table Name: m3_monthly
Number of Row: 759
         date  mabmm301usm189s
0  1960-01-01     2.982000e+11
1  1960-02-01     2.984000e+11
           date  mabmm301usm189s
757  2023-02-01     2.107540e+13
758  2023-03-01     2.081810e+13
____________________________________________________________________________________________
Table Number: 18
Table Name: market_yield_on_u
Number of Row: 16121
         date dgs10
0  1962-01-02  4.06
1  1962-01-03  4.03
             date dgs10
16119  2023-10-16  4.71
16120  2023-10-17  4.83
____________________________________________________________________________________________
Table Number: 19
Table Name: monetary_aggregates_and_their_components_broad_money_and_components_m3_for_united_states
Number of Row: 764
         date  mabmm301usm189s
0  1960-01-01     2.982000e+11
1  1960-02-01     2.984000e+11
           date  mabmm301usm189s
762  2023-07-01     2.090530e+13
763  2023-08-01     2.086530e+13
____________________________________________________________________________________________
Table Number: 20
Table Name: monetary_base_total
Number of Row: 777
         date  bogmbase
0  1959-01-01   50500.0
1  1959-02-01   49800.0
           date   bogmbase
775  2023-08-01  5559100.0
776  2023-09-01  5567100.0
____________________________________________________________________________________________
Table Number: 21
Table Name: nber_based_recession_indicators_for_the_united_states_from_the_period_following_the_peak_through_the_trough
Number of Row: 2026
         date  usrec
0  1854-12-01      1
1  1855-01-01      0
            date  usrec
2024  2023-08-01      0
2025  2023-09-01      0
____________________________________________________________________________________________
Table Number: 22
Table Name: sp500
Number of Row: 1859
         date    value
0  2023-04-01  4124.51
1  2023-03-31  4109.31
            date  value
1857  1871-02-01   4.50
1858  1871-01-01   4.44
____________________________________________________________________________________________
Table Number: 23
Table Name: t10y2y_daily
Number of Row: 12362
         date t10y2y
0  1976-06-01   0.68
1  1976-06-02   0.71
             date t10y2y
12360  2023-10-17  -0.36
12361  2023-10-18  -0.28
____________________________________________________________________________________________
Table Number: 24
Table Name: t10y3m_daily
Number of Row: 10903
         date t10y3m
0  1982-01-04   2.32
1  1982-01-05   2.24
             date t10y3m
10901  2023-10-17  -0.79
10902  2023-10-18   -0.7
____________________________________________________________________________________________
Table Number: 25
Table Name: unemployment_rate
Number of Row: 909
         date  unrate
0  1948-01-01     3.4
1  1948-02-01     3.8
           date  unrate
907  2023-08-01     3.8
908  2023-09-01     3.8
____________________________________________________________________________________________
Table Number: 26
Table Name: university_of_michigan_consumer_sentiment
Number of Row: 850
         date umcsent
0  1952-11-01    86.2
1  1952-12-01       .
           date umcsent
848  2023-07-01    71.6
849  2023-08-01    69.5
____________________________________________________________________________________________
Table Number: 27
Table Name: university_of_michigan_inflation_expectation
Number of Row: 548
         date  mich
0  1978-01-01   5.2
1  1978-02-01   6.4
           date  mich
546  2023-07-01   3.4
547  2023-08-01   3.5
____________________________________________________________________________________________
Table Number: 28
Table Name: velocity_of_m2_money_stock
Number of Row: 259
         date    m2v
0  1959-01-01  1.773
1  1959-04-01  1.789
           date    m2v
257  2023-04-01  1.302
258  2023-07-01  1.327
____________________________________________________________________________________________
Table Number: 29
Table Name: vix
Number of Row: 8753
       date vixcls
0  1/2/1990  17.24
1  1/3/1990  18.19
           date vixcls
8751  7/19/2023  13.76
8752  7/20/2023  13.99
____________________________________________________________________________________________

# Format Date Object

In [11]:
def guess_date(string):
    for date_format in ["%Y-%m-%d", "%m/%d/%Y", "%d-%b-%y"]:
        try:
            return datetime.strptime(string, date_format).date()
        except ValueError:
            continue
    raise ValueError(string)

In [12]:
for keys, values in table_dict.items():
    date_string = values["date"]
    date_format = ["%Y-%m-%d", "%m/%d/%Y", "%d-%b-%Y"]
    values["date"] = date_string.apply(lambda x: guess_date(x)).apply(lambda x: x.replace(year = x.year - 100) if x.year > 2030 else x )

In [13]:
for keys, values in table_dict.items():
    print(keys)
    print(values)
    print("_____________")

capacity_utilization_total_index
           date      tcu
0    1967-01-01  89.3902
1    1967-02-01  87.9750
2    1967-03-01  87.0835
3    1967-04-01  87.5089
4    1967-05-01  86.3566
..          ...      ...
676  2023-05-01  79.4570
677  2023-06-01  78.9301
678  2023-07-01  79.6066
679  2023-08-01  79.5385
680  2023-09-01  79.6786

[681 rows x 2 columns]
_____________
consumer_price_index_for_all_urban_consumers_all_items_in_u
           date  cpiaucsl
0    1947-01-01    21.480
1    1947-02-01    21.620
2    1947-03-01    22.000
3    1947-04-01    22.000
4    1947-05-01    21.950
..          ...       ...
916  2023-05-01   303.294
917  2023-06-01   303.841
918  2023-07-01   304.348
919  2023-08-01   306.269
920  2023-09-01   307.481

[921 rows x 2 columns]
_____________
cpi
           date  cpiaucsl
0    1947-01-01    21.480
1    1947-02-01    21.620
2    1947-03-01    22.000
3    1947-04-01    22.000
4    1947-05-01    21.950
..          ...       ...
909  2022-10-01   297.987
910  2022-11-01   298.598
911  2022-12-01   298.990
912  2023-01-01   300.536
913  2023-02-01   301.648

[914 rows x 2 columns]
_____________
crude_oil_prices_west_texas_intermediate_wti_cushing_oklahoma
            date dcoilwtico
0     1986-01-02      25.56
1     1986-01-03      26.00
2     1986-01-06      26.53
3     1986-01-07      25.85
4     1986-01-08      25.87
...          ...        ...
9858  2023-10-17      86.66
9859  2023-10-18      88.35
9860  2023-10-19      89.35
9861  2023-10-20      89.12
9862  2023-10-23      85.49

[9863 rows x 2 columns]
_____________
dji
           date  m1109busm293nnbr
0    1914-12-01             55.00
1    1915-01-01             56.55
2    1915-02-01             56.00
3    1915-03-01             58.30
4    1915-04-01             66.45
..          ...               ...
644  1968-08-01            883.72
645  1968-09-01            922.80
646  1968-10-01            955.47
647  1968-11-01            964.12
648  1968-12-01            965.39

[649 rows x 2 columns]
_____________
economic_policy_uncertainty_index_for_united_states
            date  usepuindxd
0     2018-10-25       89.53
1     2018-10-26       65.53
2     2018-10-27       79.20
3     2018-10-28      136.61
4     2018-10-29       64.23
...          ...         ...
1822  2023-10-21       78.83
1823  2023-10-22      154.24
1824  2023-10-23      151.88
1825  2023-10-24       84.27
1826  2023-10-25       82.10

[1827 rows x 2 columns]
_____________
federal_funds
           date  fedfunds
0    1954-07-01      0.80
1    1954-08-01      1.22
2    1954-09-01      1.07
3    1954-10-01      0.85
4    1954-11-01      0.83
..          ...       ...
823  2023-02-01      4.57
824  2023-03-01      4.65
825  2023-04-01      4.83
826  2023-05-01      5.06
827  2023-06-01      5.08

[828 rows x 2 columns]
_____________
federal_funds_effective_rate_daily
             date   dff
0      1954-07-01  1.13
1      1954-07-02  1.25
2      1954-07-03  1.25
3      1954-07-04  1.25
4      1954-07-05  0.88
...           ...   ...
25306  2023-10-13  5.33
25307  2023-10-14  5.33
25308  2023-10-15  5.33
25309  2023-10-16  5.33
25310  2023-10-17  5.33

[25311 rows x 2 columns]
_____________
fed_model_data
           date  10 year treasury yield  3 month treasury yield  \
0    1959-01-31                    4.02                    2.82
1    1959-02-28                    3.96                    2.70
2    1959-03-31                    3.99                    2.80
3    1959-04-30                    4.12                    2.95
4    1959-05-31                    4.31                    2.84
..          ...                     ...                     ...
784  2024-05-31                     NaN                     NaN
785  2024-06-30                     NaN                     NaN
786  2024-07-31                     NaN                     NaN
787  2024-08-31                     NaN                     NaN
788  2024-09-30                     NaN                     NaN

     3 month treasury yield (bond equivalent basis)  spread rec_prob  nber_rec
0                                              2.88    1.14      NaN       0.0
1                                              2.76    1.20      NaN       0.0
2                                              2.86    1.13      NaN       0.0
3                                              3.01    1.11      NaN       0.0
4                                              2.90    1.41      NaN       0.0
..                                              ...     ...      ...       ...
784                                             NaN     NaN   70.85%       NaN
785                                             NaN     NaN   67.31%       NaN
786                                             NaN     NaN   66.01%       NaN
787                                             NaN     NaN   60.83%       NaN
788                                             NaN     NaN   56.16%       NaN

[789 rows x 7 columns]
_____________
industrial_production_total_index
            date    indpro
0     1919-01-01    4.8665
1     1919-02-01    4.6514
2     1919-03-01    4.5170
3     1919-04-01    4.5976
4     1919-05-01    4.6245
...          ...       ...
1252  2023-05-01  102.8498
1253  2023-06-01  102.2924
1254  2023-07-01  103.2895
1255  2023-08-01  103.3170
1256  2023-09-01  103.6115

[1257 rows x 2 columns]
_____________
inflation_consumer_prices_for_the_united_states
          date  fpcpitotlzgusa
0   1960-01-01        1.457976
1   1961-01-01        1.070724
2   1962-01-01        1.198773
3   1963-01-01        1.239669
4   1964-01-01        1.278912
..         ...             ...
58  2018-01-01        2.442583
59  2019-01-01        1.812210
60  2020-01-01        1.233584
61  2021-01-01        4.697859
62  2022-01-01        8.002800

[63 rows x 2 columns]
_____________
initial_claims
            date    icsa
0     1967-01-07  208000
1     1967-01-14  207000
2     1967-01-21  217000
3     1967-01-28  204000
4     1967-02-04  216000
...          ...     ...
2959  2023-09-23  205000
2960  2023-09-30  209000
2961  2023-10-07  211000
2962  2023-10-14  200000
2963  2023-10-21  210000

[2964 rows x 2 columns]
_____________
labor_force_participation_rate
           date  civpart
0    1948-01-01     58.6
1    1948-02-01     58.9
2    1948-03-01     58.5
3    1948-04-01     59.0
4    1948-05-01     58.3
..          ...      ...
901  2023-02-01     62.5
902  2023-03-01     62.6
903  2023-04-01     62.6
904  2023-05-01     62.6
905  2023-06-01     62.6

[906 rows x 2 columns]
_____________
leading_index_for_the_united_states
           date  usslind
0    1982-01-01    -0.89
1    1982-02-01    -0.38
2    1982-03-01    -0.15
3    1982-04-01    -0.11
4    1982-05-01    -0.05
..          ...      ...
453  2019-10-01     1.41
454  2019-11-01     1.38
455  2019-12-01     1.48
456  2020-01-01     1.57
457  2020-02-01     1.72

[458 rows x 2 columns]
_____________
m1_monthly
           date     m1sl
0    1959-01-01    138.9
1    1959-02-01    139.4
2    1959-03-01    139.7
3    1959-04-01    139.7
4    1959-05-01    140.7
..          ...      ...
767  2022-12-01  19821.0
768  2023-01-01  19560.1
769  2023-02-01  19327.8
770  2023-03-01  18964.5
771  2023-04-01  18629.2

[772 rows x 2 columns]
_____________
m2_monthly
           date     m2sl
0    1959-01-01    286.6
1    1959-02-01    287.7
2    1959-03-01    289.2
3    1959-04-01    290.1
4    1959-05-01    292.2
..          ...      ...
767  2022-12-01  21358.1
768  2023-01-01  21212.6
769  2023-02-01  21076.9
770  2023-03-01  20840.3
771  2023-04-01  20673.1

[772 rows x 2 columns]
_____________
m3_monthly
           date  mabmm301usm189s
0    1960-01-01     2.982000e+11
1    1960-02-01     2.984000e+11
2    1960-03-01     2.993000e+11
3    1960-04-01     3.001000e+11
4    1960-05-01     3.009000e+11
..          ...              ...
754  2022-11-01     2.139690e+13
755  2022-12-01     2.135770e+13
756  2023-01-01     2.121200e+13
757  2023-02-01     2.107540e+13
758  2023-03-01     2.081810e+13

[759 rows x 2 columns]
_____________
market_yield_on_u
             date dgs10
0      1962-01-02  4.06
1      1962-01-03  4.03
2      1962-01-04  3.99
3      1962-01-05  4.02
4      1962-01-08  4.03
...           ...   ...
16116  2023-10-11  4.58
16117  2023-10-12  4.70
16118  2023-10-13  4.63
16119  2023-10-16  4.71
16120  2023-10-17  4.83

[16121 rows x 2 columns]
_____________
monetary_aggregates_and_their_components_broad_money_and_components_m3_for_united_states
           date  mabmm301usm189s
0    1960-01-01     2.982000e+11
1    1960-02-01     2.984000e+11
2    1960-03-01     2.993000e+11
3    1960-04-01     3.001000e+11
4    1960-05-01     3.009000e+11
..          ...              ...
759  2023-04-01     2.071220e+13
760  2023-05-01     2.084170e+13
761  2023-06-01     2.089040e+13
762  2023-07-01     2.090530e+13
763  2023-08-01     2.086530e+13

[764 rows x 2 columns]
_____________
monetary_base_total
           date   bogmbase
0    1959-01-01    50500.0
1    1959-02-01    49800.0
2    1959-03-01    49700.0
3    1959-04-01    50100.0
4    1959-05-01    50100.0
..          ...        ...
772  2023-05-01  5569600.0
773  2023-06-01  5608500.0
774  2023-07-01  5517800.0
775  2023-08-01  5559100.0
776  2023-09-01  5567100.0

[777 rows x 2 columns]
_____________
nber_based_recession_indicators_for_the_united_states_from_the_period_following_the_peak_through_the_trough
            date  usrec
0     1854-12-01      1
1     1855-01-01      0
2     1855-02-01      0
3     1855-03-01      0
4     1855-04-01      0
...          ...    ...
2021  2023-05-01      0
2022  2023-06-01      0
2023  2023-07-01      0
2024  2023-08-01      0
2025  2023-09-01      0

[2026 rows x 2 columns]
_____________
sp500
            date    value
0     2023-04-01  4124.51
1     2023-03-31  4109.31
2     2023-03-01  3968.56
3     2023-02-28  3970.15
4     2023-02-01  4079.68
...          ...      ...
1854  1871-05-01     4.86
1855  1871-04-01     4.74
1856  1871-03-01     4.61
1857  1871-02-01     4.50
1858  1871-01-01     4.44

[1859 rows x 2 columns]
_____________
t10y2y_daily
             date t10y2y
0      1976-06-01   0.68
1      1976-06-02   0.71
2      1976-06-03   0.70
3      1976-06-04   0.77
4      1976-06-07   0.79
...           ...    ...
12357  2023-10-12  -0.36
12358  2023-10-13  -0.41
12359  2023-10-16  -0.38
12360  2023-10-17  -0.36
12361  2023-10-18  -0.28

[12362 rows x 2 columns]
_____________
t10y3m_daily
             date t10y3m
0      1982-01-04   2.32
1      1982-01-05   2.24
2      1982-01-06   2.43
3      1982-01-07   2.46
4      1982-01-08   2.50
...           ...    ...
10898  2023-10-12  -0.93
10899  2023-10-13  -0.99
10900  2023-10-16   -0.9
10901  2023-10-17  -0.79
10902  2023-10-18   -0.7

[10903 rows x 2 columns]
_____________
unemployment_rate
           date  unrate
0    1948-01-01     3.4
1    1948-02-01     3.8
2    1948-03-01     4.0
3    1948-04-01     3.9
4    1948-05-01     3.5
..          ...     ...
904  2023-05-01     3.7
905  2023-06-01     3.6
906  2023-07-01     3.5
907  2023-08-01     3.8
908  2023-09-01     3.8

[909 rows x 2 columns]
_____________
university_of_michigan_consumer_sentiment
           date umcsent
0    1952-11-01    86.2
1    1952-12-01       .
2    1953-01-01       .
3    1953-02-01    90.7
4    1953-03-01       .
..          ...     ...
845  2023-04-01    63.5
846  2023-05-01    59.2
847  2023-06-01    64.4
848  2023-07-01    71.6
849  2023-08-01    69.5

[850 rows x 2 columns]
_____________
university_of_michigan_inflation_expectation
           date  mich
0    1978-01-01   5.2
1    1978-02-01   6.4
2    1978-03-01   6.3
3    1978-04-01   6.7
4    1978-05-01   6.9
..          ...   ...
543  2023-04-01   4.6
544  2023-05-01   4.2
545  2023-06-01   3.3
546  2023-07-01   3.4
547  2023-08-01   3.5

[548 rows x 2 columns]
_____________
velocity_of_m2_money_stock
           date    m2v
0    1959-01-01  1.773
1    1959-04-01  1.789
2    1959-07-01  1.773
3    1959-10-01  1.779
4    1960-01-01  1.817
..          ...    ...
254  2022-07-01  1.202
255  2022-10-01  1.234
256  2023-01-01  1.273
257  2023-04-01  1.302
258  2023-07-01  1.327

[259 rows x 2 columns]
_____________
vix
            date vixcls
0     1990-01-02  17.24
1     1990-01-03  18.19
2     1990-01-04  19.22
3     1990-01-05  20.11
4     1990-01-08  20.26
...          ...    ...
8748  2023-07-14  13.34
8749  2023-07-17  13.48
8750  2023-07-18   13.3
8751  2023-07-19  13.76
8752  2023-07-20  13.99

[8753 rows x 2 columns]
_____________

In [26]:
list_to_delete = []
for keys, values in table_dict.items():
    if min(values["date"]).year > 1975:
        list_to_delete.append(keys)
print(list_to_delete)
print(len(list_to_delete))

['crude_oil_prices_west_texas_intermediate_wti_cushing_oklahoma', 'economic_policy_uncertainty_index_for_united_states', 'leading_index_for_the_united_states', 't10y2y_daily', 't10y3m_daily', 'university_of_michigan_inflation_expectation', 'vix']
7

In [29]:
updated_table_dict = table_dict

for i in list_to_delete:
    del updated_table_dict[i]

In [31]:
len(updated_table_dict)

22