In [116]:
import pandas as pd
import numpy as np
import yfinance as yf
import os
from datetime import datetime
from datetime import timedelta
import matplotlib as mt

## Create Function to Import Data from Yahoo Finance

In [2]:
def get_yfinance_data(ticker_name, period):
    ticker = ticker_name
    period = period
    
    data = yf.Ticker(ticker)
    historical_close = pd.DataFrame(data.history(period = period))["Close"]
    return(historical_close)

In [3]:
yahoo_data_list = ["SPY", "DJI"]

In [22]:
for ticker in yahoo_data_list:
    data = pd.DataFrame(get_yfinance_data(ticker, "max"))

## Read CSV Files in the Folder

In [13]:
# Adding working directory
## test
### test 2
directory = os.listdir("C:/Users/peter/Desktop/python-recession-model")

In [14]:
csv_file_list = []
csv_name = []
for file in directory:
    if file.endswith(".csv"):
        data_name = file.split(".")[0]
        data = pd.read_csv(file)
        csv_name.append(data_name)
        csv_file_list.append(data)

In [15]:
csv_name1 = pd.DataFrame(csv_name).apply(lambda x: x.str.lower().str.replace('(', '').str.replace(')', '').str.replace('-', '').str.replace(',', ' ').str.replace(' ', '_').str.replace('__', '_'))

C:\Users\peter\AppData\Local\Temp\ipykernel_50852\4020979771.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  csv_name1 = pd.DataFrame(csv_name).apply(lambda x: x.str.lower().str.replace('(', '').str.replace(')', '').str.replace('-', '').str.replace(',', ' ').str.replace(' ', '_').str.replace('__', '_'))

In [80]:
table_dict = {}

for i in range(30):
        table_name = csv_name1.at[i, 0]
        data = pd.DataFrame(csv_file_list[i])
        table_dict[table_name] = data

In [84]:
table_count = 0
for keys, values in table_dict.items():
    number_row = len(values)
    top_two = values.head(2)
    bottom_two = values.tail(2)
    table_count = table_count + 1
    print("Table Number: " + str(table_count))
    print("Table Name: " + keys)
    print("Number of Row: "  + str(number_row))
    print(top_two)
    print(bottom_two)
    print("____________________________________________________________________________________________")

Table Number: 1
Table Name: capacity_utilization_total_index
Number of Row: 681
         date      tcu
0  1967-01-01  89.3902
1  1967-02-01  87.9750
           date      tcu
679  2023-08-01  79.5385
680  2023-09-01  79.6786
____________________________________________________________________________________________
Table Number: 2
Table Name: consumer_price_index_for_all_urban_consumers_all_items_in_u
Number of Row: 921
         date  cpiaucsl
0  1947-01-01     21.48
1  1947-02-01     21.62
           date  cpiaucsl
919  2023-08-01   306.269
920  2023-09-01   307.481
____________________________________________________________________________________________
Table Number: 3
Table Name: cpi
Number of Row: 914
         date  cpiaucsl
0  1947-01-01     21.48
1  1947-02-01     21.62
           date  cpiaucsl
912  2023-01-01   300.536
913  2023-02-01   301.648
____________________________________________________________________________________________
Table Number: 4
Table Name: crude_oil_prices_west_texas_intermediate_wti_cushing_oklahoma
Number of Row: 9863
         date dcoilwtico
0  1986-01-02      25.56
1  1986-01-03      26.00
            date dcoilwtico
9861  2023-10-20      89.12
9862  2023-10-23      85.49
____________________________________________________________________________________________
Table Number: 5
Table Name: dji
Number of Row: 649
         date  m1109busm293nnbr
0  1914-12-01             55.00
1  1915-01-01             56.55
           date  m1109busm293nnbr
647  1968-11-01            964.12
648  1968-12-01            965.39
____________________________________________________________________________________________
Table Number: 6
Table Name: economic_policy_uncertainty_index_for_united_states
Number of Row: 1827
         date  usepuindxd
0  2018-10-25       89.53
1  2018-10-26       65.53
            date  usepuindxd
1825  2023-10-24       84.27
1826  2023-10-25       82.10
____________________________________________________________________________________________
Table Number: 7
Table Name: federal_funds
Number of Row: 828
       date  fedfunds
0  7/1/1954      0.80
1  8/1/1954      1.22
         date  fedfunds
826  5/1/2023      5.06
827  6/1/2023      5.08
____________________________________________________________________________________________
Table Number: 8
Table Name: federal_funds_effective_rate_daily
Number of Row: 25311
         date   dff
0  1954-07-01  1.13
1  1954-07-02  1.25
             date   dff
25309  2023-10-16  5.33
25310  2023-10-17  5.33
____________________________________________________________________________________________
Table Number: 9
Table Name: fed_model_data
Number of Row: 789
        date  10 year treasury yield  3 month treasury yield  \
0  31-Jan-59                    4.02                    2.82
1  28-Feb-59                    3.96                    2.70

   3 month treasury yield (bond equivalent basis)  spread rec_prob  nber_rec
0                                            2.88    1.14      NaN       0.0
1                                            2.76    1.20      NaN       0.0
          date  10 year treasury yield  3 month treasury yield  \
787  8/31/2024                     NaN                     NaN
788  9/30/2024                     NaN                     NaN

     3 month treasury yield (bond equivalent basis)  spread rec_prob  nber_rec
787                                             NaN     NaN   60.83%       NaN
788                                             NaN     NaN   56.16%       NaN
____________________________________________________________________________________________
Table Number: 10
Table Name: industrial_production_total_index
Number of Row: 1257
         date  indpro
0  1919-01-01  4.8665
1  1919-02-01  4.6514
            date    indpro
1255  2023-08-01  103.3170
1256  2023-09-01  103.6115
____________________________________________________________________________________________
Table Number: 11
Table Name: inflation_consumer_prices_for_the_united_states
Number of Row: 63
         date  fpcpitotlzgusa
0  1960-01-01        1.457976
1  1961-01-01        1.070724
          date  fpcpitotlzgusa
61  2021-01-01        4.697859
62  2022-01-01        8.002800
____________________________________________________________________________________________
Table Number: 12
Table Name: initial_claims
Number of Row: 2964
         date    icsa
0  1967-01-07  208000
1  1967-01-14  207000
            date    icsa
2962  2023-10-14  200000
2963  2023-10-21  210000
____________________________________________________________________________________________
Table Number: 13
Table Name: labor_force_participation_rate
Number of Row: 906
       date  civpart
0  1/1/1948     58.6
1  2/1/1948     58.9
         date  civpart
904  5/1/2023     62.6
905  6/1/2023     62.6
____________________________________________________________________________________________
Table Number: 14
Table Name: leading_index_for_the_united_states
Number of Row: 458
         date  usslind
0  1982-01-01    -0.89
1  1982-02-01    -0.38
           date  usslind
456  2020-01-01     1.57
457  2020-02-01     1.72
____________________________________________________________________________________________
Table Number: 15
Table Name: m1_monthly
Number of Row: 772
         date   m1sl
0  1959-01-01  138.9
1  1959-02-01  139.4
           date     m1sl
770  2023-03-01  18964.5
771  2023-04-01  18629.2
____________________________________________________________________________________________
Table Number: 16
Table Name: m2_monthly
Number of Row: 772
         date   m2sl
0  1959-01-01  286.6
1  1959-02-01  287.7
           date     m2sl
770  2023-03-01  20840.3
771  2023-04-01  20673.1
____________________________________________________________________________________________
Table Number: 17
Table Name: m3_monthly
Number of Row: 759
        date  mabmm301usm189s
0 1960-01-01     2.982000e+11
1 1960-02-01     2.984000e+11
          date  mabmm301usm189s
757 2023-02-01     2.107540e+13
758 2023-03-01     2.081810e+13
____________________________________________________________________________________________
Table Number: 18
Table Name: market_yield_on_u
Number of Row: 16121
         date dgs10
0  1962-01-02  4.06
1  1962-01-03  4.03
             date dgs10
16119  2023-10-16  4.71
16120  2023-10-17  4.83
____________________________________________________________________________________________
Table Number: 19
Table Name: monetary_aggregates_and_their_components_broad_money_and_components_m3_for_united_states
Number of Row: 764
         date  mabmm301usm189s
0  1960-01-01     2.982000e+11
1  1960-02-01     2.984000e+11
           date  mabmm301usm189s
762  2023-07-01     2.090530e+13
763  2023-08-01     2.086530e+13
____________________________________________________________________________________________
Table Number: 20
Table Name: monetary_base_total
Number of Row: 777
         date  bogmbase
0  1959-01-01   50500.0
1  1959-02-01   49800.0
           date   bogmbase
775  2023-08-01  5559100.0
776  2023-09-01  5567100.0
____________________________________________________________________________________________
Table Number: 21
Table Name: nber_based_recession_indicators_for_the_united_states_from_the_period_following_the_peak_through_the_trough
Number of Row: 2026
         date  usrec
0  1854-12-01      1
1  1855-01-01      0
            date  usrec
2024  2023-08-01      0
2025  2023-09-01      0
____________________________________________________________________________________________
Table Number: 22
Table Name: sp500
Number of Row: 1859
         date    value
0  2023-04-01  4124.51
1  2023-03-31  4109.31
            date  value
1857  1871-02-01   4.50
1858  1871-01-01   4.44
____________________________________________________________________________________________
Table Number: 23
Table Name: t10y2y_daily
Number of Row: 12362
         date t10y2y
0  1976-06-01   0.68
1  1976-06-02   0.71
             date t10y2y
12360  2023-10-17  -0.36
12361  2023-10-18  -0.28
____________________________________________________________________________________________
Table Number: 24
Table Name: t10y3m_daily
Number of Row: 10903
         date t10y3m
0  1982-01-04   2.32
1  1982-01-05   2.24
             date t10y3m
10901  2023-10-17  -0.79
10902  2023-10-18   -0.7
____________________________________________________________________________________________
Table Number: 25
Table Name: unemployment_rate
Number of Row: 909
         date  unrate
0  1948-01-01     3.4
1  1948-02-01     3.8
           date  unrate
907  2023-08-01     3.8
908  2023-09-01     3.8
____________________________________________________________________________________________
Table Number: 26
Table Name: university_of_michigan_consumer_sentiment
Number of Row: 850
         date umcsent
0  1952-11-01    86.2
1  1952-12-01       .
           date umcsent
848  2023-07-01    71.6
849  2023-08-01    69.5
____________________________________________________________________________________________
Table Number: 27
Table Name: university_of_michigan_inflation_expectation
Number of Row: 548
         date  mich
0  1978-01-01   5.2
1  1978-02-01   6.4
           date  mich
546  2023-07-01   3.4
547  2023-08-01   3.5
____________________________________________________________________________________________
Table Number: 28
Table Name: velocity_of_m2_money_stock
Number of Row: 259
         date    m2v
0  1959-01-01  1.773
1  1959-04-01  1.789
           date    m2v
257  2023-04-01  1.302
258  2023-07-01  1.327
____________________________________________________________________________________________
Table Number: 29
Table Name: vix
Number of Row: 8753
       date vixcls
0  1/2/1990  17.24
1  1/3/1990  18.19
           date vixcls
8751  7/19/2023  13.76
8752  7/20/2023  13.99
____________________________________________________________________________________________

In [76]:
date_string = table_dict["cpi"]["date"]
date_format = '%Y-%m-%d'

table_dict["m3_monthly"]["date"] = date_string.apply(lambda x:  datetime.strptime(x, date_format))

In [82]:
for keys, values in table_dict.items():
    table_dict[keys] = values.rename(str.lower, axis = "columns")

In [106]:
def guess_date(string):
    for date_format in ["%Y-%m-%d", "%m/%d/%Y", "%d-%b-%y"]:
        try:
            return datetime.strptime(string, date_format).date()
        except ValueError:
            continue
    raise ValueError(string)

In [125]:
table_dict["fed_model_data"]["date"][0]
year = timedelta(days = 365)
print(guess_date(table_dict["fed_model_data"]["date"][0]) - 100 * year)

1959-02-25

In [91]:
for keys, values in table_dict.items():
    date_string = values["date"]
    print(date_string)
    date_format = ["%Y-%m-%d", "%m/%d/%Y", "%d-%b-%Y"]
    table_dict[keys]["date"] = date_string.apply(lambda x: datetime.strptime(x, date_format))

0     1967-01-01
1     1967-02-01
2     1967-03-01
3     1967-04-01
4     1967-05-01
         ...
676   2023-05-01
677   2023-06-01
678   2023-07-01
679   2023-08-01
680   2023-09-01
Name: date, Length: 681, dtype: datetime64[ns]

TypeError: strptime() argument 1 must be str, not Timestamp