In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
import os

## Create Function to Import Data from Yahoo Finance

In [3]:
def get_yfinance_data(ticker_name, period):
    ticker = ticker_name
    period = period
    
    data = yf.Ticker(ticker)
    historical_close = pd.DataFrame(data.history(period = period))["Close"]
    return(historical_close)

In [4]:
yahoo_data_list = ["SPY", "DJI"]

In [5]:
for ticker in yahoo_data_list:
    data = pd.DataFrame(get_yfinance_data(ticker, "max"))
    print(data)

                                Close
Date
1993-01-29 00:00:00-05:00   24.941389
1993-02-01 00:00:00-05:00   25.118786
1993-02-02 00:00:00-05:00   25.172005
1993-02-03 00:00:00-05:00   25.438089
1993-02-04 00:00:00-05:00   25.544531
...                               ...
2023-10-23 00:00:00-04:00  420.459991
2023-10-24 00:00:00-04:00  423.630005
2023-10-25 00:00:00-04:00  417.549988
2023-10-26 00:00:00-04:00  412.549988
2023-10-27 00:00:00-04:00  410.679993

[7743 rows x 1 columns]
                                  Close
Date
1970-01-02 00:00:00-05:00    809.200012
1970-01-05 00:00:00-05:00    811.309998
1970-01-06 00:00:00-05:00    803.659973
1970-01-07 00:00:00-05:00    801.809998
1970-01-08 00:00:00-05:00    802.070007
...                                 ...
2022-02-24 00:00:00-05:00  33223.800781
2022-02-25 00:00:00-05:00  34058.800781
2022-02-28 00:00:00-05:00  33892.601562
2022-03-01 00:00:00-05:00  33294.898438
2022-03-02 00:00:00-05:00  33891.300781

[12987 rows x 1 columns]

## Read CSV Files in the Folder

In [7]:
directory = os.listdir("C:/Users/peter/Desktop/python-recession-model")

In [8]:
csv_file_list = []
csv_name = []
for file in directory:
    if file.endswith(".csv"):
        data_name = file.split(".")[0]
        data = pd.read_csv(file)
        csv_name.append(data_name)
        csv_file_list.append(data)

In [9]:
csv_file_name_list = ["capacity_utilization_total_index, "]

In [38]:
csv_name1 = pd.DataFrame(csv_name).apply(lambda x: x.str.lower().str.replace(' ', '_'))

'vix'

'capacity_utilization_total_index'

In [49]:
table_dict = {}

for i in range(30):
        table_name = csv_name1.at[i, 0]
        data = pd.DataFrame(csv_file_list[i])
        table_dict[table_name] = data

In [55]:
table_dict['capacity_utilization_total_index']

           DATE      TCU
0    1967-01-01  89.3902
1    1967-02-01  87.9750
2    1967-03-01  87.0835
3    1967-04-01  87.5089
4    1967-05-01  86.3566
..          ...      ...
676  2023-05-01  79.4570
677  2023-06-01  78.9301
678  2023-07-01  79.6066
679  2023-08-01  79.5385
680  2023-09-01  79.6786

[681 rows x 2 columns]